h1 {
    color: rgba(255, 230, 0, 0.788);
    text-align: center;
  }
  h2 {
    color:pink  ;
    font-style: italic;
    text-align: center;
    background-color: aqua;
    font-size: 69px;
  }
  p {
    font-family: 'Segoe UI';
  }
  ul {
    line-height: 40px;
  }
  